body {
    background-color: pink;
}
img {
    width: 70%;
    border: solid white 5px;
    margin-top: 100px;
    margin-left: 15%;
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}
.Quote {
    color: whitesmokblacke;
    text-align: center;
    font-size: 30px;
}